<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza shop</title>
</head>

<body>

<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<form method="POST" th:action="@{/orders}" th:object="${order}" id="orderForm">
    <h1>Order pizza</h1>


    <h3>Your cart</h3>
    <a th:href="@{/}" id="another">Cancel</a><br/>
    <ul>
        <h2> <span th:text="${order.cart}"></span>?</h2>

    </ul>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>




    <input type="submit" value="Submit order"/>
</form>

</body>
</html>
