<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Shop</title>
</head>

<body>
<h1>Register</h1>

<form method="POST" th:action="@{/register}" id="registerForm">
    <p>Username is your email!</p>
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>
    <p>Password have to be between 8 and 16 letters!</p>
    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>


    <input type="submit" value="Register"/>
</form>

</body>
</html>
