<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pizza shop!</title>
    </head>
    <body>
        <form method="POST" th:action="@{/logout}" id="logoutForm">
            <input type="submit" value="Logout"/>
        </form>
        <p><a th:href="@{/user_orders}">here</a> Back</p>
        <div th:each="order : ${patternOrders}">
            <span th:text="${order}">PRODUCT</span><br/>
        </div>
        <a th:href="@{/design}" id="design">Design your order</a>
    </body>
</html>
